.idea/.name
.idea/encodings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/misc.xml
Report/Dissertation 4177303.lyx~
.idea/scopes/scope_settings.xml
.idea/modules.xml
.idea/OFCP-AI.iml
*.pyc
states_ev.txt