body
{
	background-color: #666666;
	background-image: url("felt_green.jpg");
	color: #696969;
	font-family: "Trebuchet MS", Verdana, sans-serif;
	font-size: 16px;
	padding: 3px;
}
#main
{
	background-color: #ffffff;
	border-radius: 0 10px 10px 10px;
	min-height: 100%;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
}
h1
{
	border-bottom: 2.5px solid #cc9900;
	color: #996600;
	font-family: Georgia, serif;
	font-size: 35px;
}
h2
{
	color: #4d3300;
}
footer
{
	font-size: 14px;
}
table
{
	width: 100%;
}
table, th , td
{
	border: 1px solid grey;
	border-collapse: collapse;
	padding: 5px;
}
th
{
	text-align: left;
}
table tr:nth-child(odd)
{
	background-color: #f1f1f1;
}
table tr:nth-child(even)
{
	background-color: #ffffff;
}
ul#menu
{
	margin-bottom: 11px;
	padding: 0;
}
ul#menu li
{
	display: inline;
	margin-right: 3px;
}
ul#menu li a
{
	background-color: #ffffff;
	border-radius: 4px 4px 0 0;
	color: #696969;
	padding: 10px 20px;
	text-decoration: none;
}
ul#menu li a:hover
{
	background-color: black;
	color: white;
}
.cardl
{
	border: 1px solid #aaaaaa;
	float: left;
	height: 150px;
	padding: 0px;
	width: 109px;
}
.cardr
{
	border: 1px solid #aaaaaa;
	float: right;
	height: 150px;
	padding: 0px;
	width: 109px;
}
.scorecontainerl
{
	border: 0px solid #aaaaaa;
	float: left;
	font-size: 15pt;
	height: 150px;
	padding: 0px;
	width: 109px;
}
.scorecontainerr
{
	border: 0px solid #aaaaaa;
	float: right;
	font-size: 15pt;
	height: 150px;
	padding: 0px;
	width: 109px;
}
.btn
{
	background: #567082;
	border-radius: 5px;
	color: #ffffff;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
}
.btn:hover
{
	background: #2c6080;
	text-decoration: none;
}