<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8"/>
  <title>Open Face Chinese Poker (vs AI)</title>
  <link href="../static/site.css" rel="stylesheet">
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>

<body>
<nav id="navigator"></nav>
<div id="main" style="min-width:1400px;background-color:#F5FCF0;background-image:url('../static/chinese_dragon_transparent_red_60o-min.png');background-repeat:no-repeat;background-position:center center;">
<h1>Open Face Chinese Poker (Round {{roundNumber}})</h1>

<p>Create the best poker hands possible in each row by dragging and dropping the cards. Each row must have a stronger hand than the row above it!</p>

<h2 style="float:left;" id="p1label">Player 1 ({{score}})</h2>
<h2 style="float:right;" id="p2label">Computer Opponent ({{score * -1}})</h2>

<p style="margin-top:95px;"></p>

<!-- Layout of cards on board -->
<p>

	<!-- top row for player 1 -->
    {% for i in range(1,4) %}
        <div class="cardl" id="p1_top{{ i }}" ondrop="drop(event)" ondragover="allowDrop(event)">
            {% if game_state['properties1']['cards']['items']['position' ~ (i+10)] is not none %}
                <img ondragstart="return false;" width="109" height="150" src="../static/cards/{{game_state['properties1']['cards']['items']['position' ~ (i+10)]}}.png" name="{{game_state['properties1']['cards']['items']['position' ~ (i+10)]}}" style="display: block;">
            {% endif %}
        </div>
    {% endfor %}

	<div class="scorecontainerl" id="p1_text1" style="margin-left:290px;"></div>

	<!-- top row for player 2 -->
    {% for i in range(1,4) %}
        <div class="cardr" id="p2_top{{ i }}" ondrop="drop(event)" ondragover="allowDrop(event)">
            {% if game_state['properties2']['cards']['items']['position' ~ (i+10)] is not none %}
                <img ondragstart="return false;" width="109" height="150" src="../static/cards/{{game_state['properties2']['cards']['items']['position' ~ (i+10)]}}.png" name="{{game_state['properties2']['cards']['items']['position' ~ (i+10)]}}" style="display: block;">
            {% endif %}
        </div>
    {% endfor %}

	<div class="scorecontainerr" id="p2_text1" style="margin-right:220px;"></div>

	<p style="margin-top:250px;"></p>

	<!-- middle row for player 1 -->
    {% for i in range(1,6) %}
        <div class="cardl" id="p1_middle{{ i }}" ondrop="drop(event)" ondragover="allowDrop(event)">
            {% if game_state['properties1']['cards']['items']['position' ~ (i+5)] is not none %}
                <img ondragstart="return false;" width="109" height="150" src="../static/cards/{{game_state['properties1']['cards']['items']['position' ~ (i+5)]}}.png" name="{{game_state['properties1']['cards']['items']['position' ~ (i+5)]}}" style="display: block;">
            {% endif %}
        </div>
    {% endfor %}

	<div class="scorecontainerl" id="p1_text2" style="margin-left:70px;"></div>

	<!-- middle row for player 2 -->
    {% for i in range(1,6) %}
        <div class="cardr" id="p2_middle{{ i }}">
            {% if game_state['properties2']['cards']['items']['position' ~ (i+5)] is not none %}
                <img ondragstart="return false;" width="109" height="150" src="../static/cards/{{game_state['properties2']['cards']['items']['position' ~ (i+5)]}}.png" name="{{game_state['properties2']['cards']['items']['position' ~ (i+5)]}}" style="display: block;">
            {% endif %}
        </div>
    {% endfor %}

	<div class="scorecontainerr" id="p2_text2"></div>

	<p style="margin-top:410px;"></p>

	<!-- bottom row for player 1 -->

    {% for i in range(1,6) %}
        <div class="cardl" id="p1_bottom{{ i }}" ondrop="drop(event)" ondragover="allowDrop(event)">
            {% if game_state['properties1']['cards']['items']['position' ~ i] is not none %}
                <img ondragstart="return false;" width="109" height="150" src="../static/cards/{{game_state['properties1']['cards']['items']['position' ~ i]}}.png" name="{{game_state['properties1']['cards']['items']['position' ~ i]}}" style="display: block;">
            {% endif %}
        </div>
    {% endfor %}



	<div class="scorecontainerl" id="p1_text3" style="margin-left:70px;"></div>

	<!-- bottom row for player 2 -->
    {% for i in range(1,6) %}
        <div class="cardr" id="p2_bottom{{ i }}">
            {% if game_state['properties2']['cards']['items']['position' ~ i] is not none %}
                <img ondragstart="return false;" width="109" height="150" src="../static/cards/{{game_state['properties2']['cards']['items']['position' ~ i]}}.png" name="{{game_state['properties2']['cards']['items']['position' ~ i]}}" style="display: block;">
            {% endif %}
        </div>
    {% endfor %}

	<div class="scorecontainerr" id="p2_text3"></div>

</p>


<p style="margin-top:570px;"></p>


<!-- play button area -->
<div id="buttonDiv" style="min-height:40px">
	<button id="playButton" class="btn">Play!</button>
    <p id="buttonTextReplacer" style="display:none; color:#2c6080; font-size:20px;font-weight:bold;">AI is calculating move...</p>
</div>

<!-- cards to be placed by player -->

<div style="margin-bottom:160px;">
	<div class="cardl" id="place1" ondrop="drop(event)" ondragover="allowDrop(event)">

        {% if 'first5cards' in game_state.keys() %}
            {% set cardsrc = "src='../static/cards/" ~ game_state['first5cards'][0] ~ ".png'" %}
            {% set cardname = "name='" ~ game_state['first5cards'][0] ~ "'" %}
        {% elif 'cardtoplace' in game_state.keys() %}
            {% set cardsrc = "src='../static/cards/" ~ game_state['cardtoplace'] ~ ".png'" %}
            {% set cardname = "name='" ~ game_state['cardtoplace'] ~ "'" %}
        {% else %}
            {% set cardsrc = "" %}
            {% set cardname = "" %}
        {% endif %}
		<img id="place1card" draggable="true" ondragstart="drag(event)" ondragend="dragstop(event)" width="109" height="150" {{cardsrc}} {{cardname}}>

		<!-- these are the cards for the following rounds -->
		<img id="place6card" style="display:none;" draggable="true" ondragstart="drag(event)" ondragend="dragstop(event)" width="109" height="150">
		<img id="place7card" style="display:none;" draggable="true" ondragstart="drag(event)" ondragend="dragstop(event)" width="109" height="150">
		<img id="place8card" style="display:none;" draggable="true" ondragstart="drag(event)" ondragend="dragstop(event)" width="109" height="150">
		<img id="place9card" style="display:none;" draggable="true" ondragstart="drag(event)" ondragend="dragstop(event)" width="109" height="150">
		<img id="place10card" style="display:none;" draggable="true" ondragstart="drag(event)" ondragend="dragstop(event)" width="109" height="150">
		<img id="place11card" style="display:none;" draggable="true" ondragstart="drag(event)" ondragend="dragstop(event)" width="109" height="150">
		<img id="place12card" style="display:none;" draggable="true" ondragstart="drag(event)" ondragend="dragstop(event)" width="109" height="150">
		<img id="place13card" style="display:none;" draggable="true" ondragstart="drag(event)" ondragend="dragstop(event)" width="109" height="150">
	</div>

    <!-- cards 2-5 for initial 5 placements -->
    {% for i in range(2,6) %}
        <div class="cardl" id="place{{ i }}" ondrop="drop(event)" ondragover="allowDrop(event)">
            {% if 'first5cards' in game_state.keys() %}
                {% set cardsrc = "src='../static/cards/" ~ game_state['first5cards'][i - 1] ~ ".png'" %}
                {% set cardname = "name='" ~ game_state['first5cards'][i - 1] ~ "'" %}
            {% else %}
                {% set cardsrc = "" %}
                {% set cardname = "" %}
            {% endif %}
            <img id="place{{ i }}card" draggable="true" ondragstart="drag(event)" ondragend="dragstop(event)" width="109" height="150" {{cardsrc}} {{cardname}}>
        </div>
    {% endfor %}
</div>

<footer style="margin-top:10px;" id="footer1"></footer>

<script src="../static/script.js"></script>
<script src="../static/reqwest.js"></script>
<script>
    var gameId = '{{ game_id }}';
    var playerFirst = '{{ playerFirst }}';
    var t_score = {{ score }};
    var roundNumber = {{ roundNumber }};
</script>

<script src="../static/ofcgame.js"></script>
<script src="../static/ios-drag-drop.js"></script>

</div>
</body>
<!-- © 2015 Alastair Kerr. All rights reserved. -->
</html>